:root {
    --color-primary: #4a148c;
    --color-primary-light: #7c43bd;
    --color-primary-dark: #12005e;
    --color-secondary: #fff;
    --color-secondary-light: #fff;
    --color-secondary-dark: #ccc;
    --color-black: #000;
    --color-warning: orange;
    --transition: all 0.3s ease;
    --container-lg-width: 80%;
    --container-md-width: 90%;
    --container-sm-width: 95%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #4c4c4c;
    color: white;
}
.card {
    transition: var(--transition);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.card:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}
.btn {
    border: none;
    padding: 0.5rem;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    color: white;
    padding: 0.5rem;
}
main {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid white;
    padding: 0.5rem;
    margin-bottom: 2rem;
}
.form__control > [type='text'],
[type='email'] {
    width: 20rem;
    padding: 0.1rem;
}
.users {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}
.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.user__img {
    /* background-color: #ccc; */
    align-self: flex-start;
}
.user__actions > .btn {
    background-color: transparent;
    color: white;
}
footer {
    background-color: #2c2c2c;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}
@media screen and (max-width: 768px) {
    .users {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 600px) {
    .users {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
